/* format */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-width: 800px;
}

img {
    max-width: 100%
}

ul {
    list-style: none;
}


/* debug */


.bkg {
    background-color: cadetblue;
    width: 100%;
    padding: 20px 0px;
    border-top: solid 2px blue;
    border-bottom: solid 2px chocolate;
}

.def {
    background-color: brown;
    height: 100px;
    border: rgb(13, 219, 48) dotted 2px;
    width: 100%;

}



/* plane */

.card-plane {
    justify-content: space-between;
}


/* operation.cart */

.cart {
    background-color: brown;
    border: rgb(13, 219, 48) dotted 2px;
    margin-bottom: 10px;
}



/* footer */

.footer {
    background-color: rgb(207, 185, 185);
}

hr {
    color: rgb(0, 0, 0);
    height: 1px;
    width: 30%;
}








-----------------------------------------------------------------------------


/* root */

:root {}



/* utilities */


.flex {
    display: flex;
}

.just-sb {
    justify-content: space-between;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.col10{
    width: 10%;
}

.col15 {
    width: 15%;
}

.col30 {
    width: 30%;
}

.col50 {
    width: 50%;
}

.col70 {
    width: 70%;
}

.py-30{
    padding: 30px 0;
}

.s-container {
    width: 70%;
    margin: 0 auto;
    max-width: 1500px;
    min-width: 1000px;
}

.bg-container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 800px;
}


.btn {
    background-color: #0061FE;
    color: white;
    padding: 5px 10px;
    border-color: #0061FE;
    font-size: 0.8rem;
}


/* fine utilities */

/* main */

section{
    padding: 50px 0px;
}

*{
    font-family: 'Cascadia Code', sans-serif;
}

/* fine main */


/* header */

.header {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(247, 245, 242);
    height: 60px;

    a {
        text-decoration: inherit;
    }


    .header-itm {
        width: 50%;
        display: flex;
        justify-content: ;
    }

    .header-list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 11px;
    }

    .dx {
        justify-content: flex-end;
    }

    .header-list img {
        width: 80%;
        padding-left: 30px;
    }

    .header-list li {
        padding-right: 15px;
    }

    .text-right {
        text-align: right;
    }
}

/* fine header */


/* hero */
.hero {
    background: linear-gradient(to bottom, lightblue 70%, rgb(255, 255, 255) 50%);
    


    h1 {
        font-size: 3rem;
        margin-bottom: -50px;
    }

}

.hero-flex {
    display: flex;
    align-items: flex-start;


    .col30 {
        padding: 20px;
        padding-top: 105px;

        .btn {
            margin-top: 30px;
        }

        p{
            margin-top: 30px;
        }

        .arrow{
            font-size: 100px;
        }

    }



}


/* fine-hero */

/* plans */

.plan{
    .card{
        border: #c0c0c0 solid 1px;
        
        *{
            padding: 5px 5px;
        }

        >*{
            margin: 10px 20px;
        }

        h4{
            text-align: center;
            border-bottom: 1px #c0c0c0 solid;
        }

        .btn{
            text-decoration: inherit;
        }

        .btn{
            display: block;
            width: 70%;
            text-align: center;
            margin: 0 auto;
        }

        i{
            display: inline-block;
            vertical-align: top;
            /* padding: 0px; */
        }

        p{
            display: inline-block;
            vertical-align: top;
        }

        hr{
            padding: 0px;
            border: none;
            background-color: #c0c0c0;
            height: 1px;
        }

        li{
            list-style: none;
            /* padding: 0px; */
            margin-top: 0.1px;
        }

        .fa-check{
            color: #0061FE;
        }

    }
}

/* fine plans */

/* enterprise */


/* fine enterprise */

.plan{

}

