/* format */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


img {
    max-width: 100%
}

ul {
    list-style: none;
}

a {
    color: inherit;
}

/* container */

.s-container {
    width: 80%;
    margin: 0 auto;
    max-width: 1000px;
}

.bg-container{
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}


/* debug */


.bkg{
    background-color: cadetblue;
    width: 100%;
    padding: 20px 0px;
    border-top: solid 2px blue;
    border-bottom: solid 2px chocolate;
}

.def{
    background-color: brown;
    height: 100px;
    border: rgb(13, 219, 48) dotted 2px;
    width: 100px;

}


/* layout */

.flex{
    display: flex;
}

.col30{
    width: 30%;
}

.col50{
    width: 50%;
}

.col70{
    width: 70%;
}



/* header */

.header-itm{
    width: 50%;
}


/* plane */

.card-plane{
    justify-content: space-between;
}